@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: linear-gradient(110deg, var(--primary), var(--secondary));
}

h1 {
  margin: 1rem 0;
  text-align: center;
  color: white;
}

main {
  margin: 100px 0;
}

.contenedor {
  width: 500px;
  margin: 25px auto;
  padding: 25px 50px;
  background-color: white;
}

.contenedor input,
label,
button {
  display: block;
  margin: 20px auto;
  width: 100%;
}


.comentarios {
  width: 500px;
  margin: 0 auto;
  padding: 25px 50px;
  background-color: white;
}

.comentarios p {
  background-color: var(--app-grey);
  padding: 10px;
  margin: 10px 0;
}

form button{
    background: linear-gradient(110deg, var(--primary), var(--secondary));
    border: none;
    padding: 0.3rem;
    border-radius: 50vh;
    font-weight: bold;
    color: white;
}