@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --primary: #bc002e;
  --black: #080808;
  --white: #f4f4f4;
  --app-grey: #78808e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: var(--primary);
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: var(--white);
}

.bancaMobile {
  background-color: var(--white);
  color: var(--black);
  width: 50%;
  margin: 0 auto;
  padding: 25px;
}
